main/webapp/wsdl/customerServiceSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/customerService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="customerService" targetNamespace="http://www.example.org/customerService/">
  <wsdl:types>
  <!--  <import namespace="http://www.example.org/customer"  schemaLocation="customer.xsd" />
   <import namespace="http://www.example.org/customer"  schemaLocation="customerResponse.xsd" />-->
    <xsd:schema targetNamespace="http://www.example.org/customerService/">
      <xsd:element name="CustomerRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="customername" type="xsd:string"/>
            <xsd:element name="gender">
            	<xsd:complexType>
            		<xsd:choice>
            			<xsd:element name="male" type="xsd:string"/>
            			<xsd:element name="female" type="xsd:string"/>	
            		</xsd:choice>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="address">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="street" type="xsd:string"/>
							<xsd:element name="city" type="xsd:string"/>
							<xsd:element name="state" type="xsd:string"/>
							<xsd:element name="country" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
            
             </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CustomerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="customer-number" type="xsd:integer"/>
            <xsd:element name="OperationResponse">
					<xsd:complexType>
						<xsd:choice>
						<xsd:element name="success" type="xsd:string"/>
						<xsd:element name="fail" type="xsd:string"/>
					    </xsd:choice>
					</xsd:complexType>
				</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CustomerRequest">
    <wsdl:part element="tns:CustomerRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CustomerResponse">
    <wsdl:part element="tns:CustomerResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="customerService">
    <wsdl:operation name="create">
      <wsdl:input message="tns:CustomerRequest"/>
      <wsdl:output message="tns:CustomerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:CustomerRequest"/>
      <wsdl:output message="tns:CustomerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:CustomerRequest"/>
      <wsdl:output message="tns:CustomerResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="customerServiceSOAP" type="tns:customerService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="create">
      <soap:operation soapAction="http://www.example.org/customerService/create"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="update">
      <soap:operation soapAction="http://www.example.org/customerService/update"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="delete">
      <soap:operation soapAction="http://www.example.org/customerService/delete"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
  </wsdl:binding>
  <wsdl:service name="customerService">
    <wsdl:port binding="tns:customerServiceSOAP" name="customerServiceSOAP">
      <soap:address location="http://localhost:8080/WebApplication/services/customerServiceSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
